/* @title River, Permanent */
[f_code = 'BH140' and osm_tags_waterway <> 'drain'] [@sd < 200k] {
  	/* used drain instead of WCC or FCSUBTYPE because those are similar */
	stroke: #00A0C6;
  	stroke-width: 10m;
}

/* @title River, Intermittent */
[f_code = 'BH140' and osm_tags_waterway = 'drain'] [@sd < 200k] {
  	/* used drain instead of WCC or FCSUBTYPE because those are similar */
	stroke: #00A0C6;
  	stroke-width: 10m;
  	stroke-dasharray: 10 2.5; /* 100 25 can we use dasharray in meter ? */
}