/* @title: Building, General */
[f_code = 'AL013' and osm_tags_amenity <> 'public_building' and osm_tags_amenity <> 'college' and osm_tags_amenity <> 'place_of_worship'] {
  	/* < 200k in the document */
    [@sd < 100k] {
      mark: url('file://symbols/building.svg');
      mark-mime: 'image/svg';
      mark-size: 40m;
    };
    [@sd > 100k] [@sd < 200k]  {
      mark: url('file://symbols/building.svg');
      mark-mime: 'image/svg';
      mark-size: 3m;
    };
}

/* @title: Building, Mosque */
[f_code = 'AL013' and osm_tags_religion = 'muslim' and osm_tags_amenity = 'place_of_worship'] {
  [@sd < 100k] {
    mark: url('file://symbols/AR_Black_Mosque.svg');
    mark-mime: 'image/svg';
    mark-size: 130m;
  };
  [@sd > 100k] [@sd < 200k]  {
    mark: url('file://symbols/PT_Black_Mosque.svg');
    mark-mime: 'image/svg';
    mark-size: 15m;
  };
}

/* @title: Building, School */
[f_code = 'AL013' and osm_tags_amenity = 'college'] {
  [@sd < 100k] {
    mark: url('file://symbols/PT_Black_School.svg');
    mark-mime: 'image/svg';
    mark-size: 130m;
  };
  [@sd > 100k] [@sd < 200k]  {
    mark: url('file://symbols/PT_Black_School.svg');
    mark-mime: 'image/svg';
    mark-size: 15m;
  };
}

/* @title: Building, Public */
[f_code = 'AL013' and osm_tags_amenity = 'public_building'] [@sd < 200k] {
  /* wrong legend with oth = ' (FFN:public_building)' but equal as records */
  mark: url('file://symbols/building.svg');
  mark-mime: 'image/svg';
  /* size not defined */
  mark-size: 70m;
}